@import '../../styles/global.variables.scss';

.section {
	white-space: nowrap;
	background-color: $secondaryColor;
	padding: 1rem $leftRightPaddingMobile;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	gap: 1rem;

	@media screen and (min-width: 700px) {
		padding: 1rem $leftRightPadding;
	}

	.sectionTitle {
		font-size: 2rem;
		color: $primaryColor;
		text-decoration: none;
	}
}
