@import '../../styles/global.variables.scss';

.section {
	background-color: rgb(53, 53, 53);
	padding: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	gap: 1rem;

	.sectionTitle {
		font-size: 2rem;
		color: $primaryColor;
		text-decoration: none;
	}
}

.navMenu {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	.navLink {
		color: $primaryColor;
		text-decoration: none;
	}
}
