@import '../global.variables.scss';

.cartContainer {
	background-color: $primaryColor;
	padding: 1rem $leftRightPadding;
	display: flex;
	gap: 2rem;
	justify-content: space-between;
	height: 100%;

	.cartBox {
		background-color: white;
		padding: 1rem;
		border-radius: 0.2rem;
	}
	.cartList {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		font-size: 0.85rem;
	}

	.orderInfo {
	}
}
