@import '../global.variables.scss';

.cartContainer {
	background-color: $primaryColor;
	padding: 1rem $leftRightPadding;
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 2rem;
	height: 100%;

	.cartBox {
		background-color: white;
		padding: 1rem;
		border-radius: 0.2rem;
		min-width: min-content;
	}
	.cartList {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		font-size: 0.85rem;
		white-space: nowrap;
	}
}
