@import '../../styles/global.variables.scss';

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	background-color: $primaryColor;
	border: 0;
	border-radius: 0.1rem;
	cursor: pointer;
	padding: 0.2rem 0.5rem;
	white-space: nowrap;
	text-decoration: none;
}

.primaryBtn {
	background-color: $primaryColor;
	color: $secondaryColor;
}

.primaryBtn:hover {
	background-color: white;
}

.secondaryBtn {
	background-color: rgb(134, 59, 255);
	color: white;
}

.secondaryBtn:hover {
	background-color: rgb(141, 73, 250);
}

.tertiaryBtn {
	background-color: white;
	color: rgb(134, 59, 255);
	font-weight: bold;
	border: 1px solid rgb(134, 59, 255);
	border-radius: 0.15rem;
	box-sizing: content-box;
}

.tertiaryBtn:hover {
	background-color: rgb(251, 249, 255);
}

.sm {
	padding: 0.1rem 0.4rem;
	font-size: 0.825rem;
}
