@import '../../styles/global.variables.scss';

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	background-color: $primaryColor;
	border: 0;
	border-radius: 0.1rem;
	cursor: pointer;
	padding: 0.2rem 0.5rem;

	svg {
		height: 1rem;
	}
}

.primaryBtn {
	background-color: $primaryColor;
}

.primaryBtn:hover {
	background-color: white;
}

.secondaryBtn {
	background-color: rgb(150, 85, 255);
	color: white;
}

.secondaryBtn:hover {
	background-color: rgb(156, 94, 255);
}
