@import '../../styles/global.variables.scss';

.container {
	color: $secondaryColor;
	position: relative;

	.imgContainer {
		background-color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 150px;
		border-radius: 0.1rem;
		margin: auto;
		a {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.img {
			padding: 1rem;
			max-height: 150px;
			max-width: fit-content;
		}
	}

	.infoContainer {
		display: flex;
		flex-direction: column;
		text-decoration: none;

		.title {
			text-align: left;
			font-size: 0.825rem;
			margin-top: 0.5rem;
			color: black;
			white-space: nowrap;
			text-decoration: none;
		}

		.shopContainer {
			margin-top: 0.1rem;
			display: flex;
			justify-content: space-between;
			gap: 0.5rem;

			.price {
				font-weight: bold;
			}

			svg {
				height: 1rem;
				min-width: 1rem;
			}
		}
		.cartBtn {
			font-size: 2rem;
			height: 1rem;
		}
	}

	.favouriteButton {
		background-color: transparent;
		color: transparent;
		border: none;
		position: absolute;
		right: 0.2rem;
		top: 0.2rem;
		width: 2rem;
		height: 2rem;
		border-radius: 50%;
		cursor: pointer;
		svg {
			width: 2rem;
			color: $tertiaryPurpleColor;
		}
	}

	.favouriteButton:hover {
		background: radial-gradient(rgb(229, 207, 255), transparent);
	}
}
