@import '../../styles/global.variables.scss';

.navMenu {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	.navLink {
		color: $primaryColor;
		text-decoration: none;
	}

	@media screen and (min-width: 600px) {
		padding: 1rem $leftRightPaddingMobile;
	}
}
