$primaryColor: rgb(245, 245, 245);
$secondaryColor: rgb(56, 56, 56);
$tertiaryPurpleColor: rgb(134, 59, 255);
$leftRightPaddingBigScreen: 11rem;
$leftRightPadding: 6rem;
$leftRightPaddingMobile: 2rem;
